body {
    text-align: center;
}

#log {
    display: inline-block;
    text-align: left;
}

#log {
    width: 800px;
    height: auto;
    border: 3px solid #FFC0CB;
}

#log p {
    border-bottom: 1px dashed #FFC0CB;
}
